{{!-- About me Div --}}

<div class="jumbotron" id='about-me-tron' style='background-color:blue'>
    <div class="row align-items-center clearfix">
        <div class="col-md">
            <h2 class="text-white text-center">
                About Me
            </h2>
            <img src="/images/josh.jpg" width="100%" class="img-responsive rounded float-left" />
        </div>
        <div class="col-md-8 col-md-offset-2" id='about-me-blurb'>
            <p class="text-white">Hello! My name is Joshua Marius Romea. I am a student at the Coding
                Bootcamp! I
                decided
                to
                take this class to learn new skills in Full Stack development in hopes for future
                employment. My skills include knownledge in HTML, CSS, Javascript, SQL, MongoDB and React.</p>
            <p class="text-white">When I'm not learning or coding you can catch me watching sports (San Francisco 49ers,
                Chicago Bulls, Vegas Golden Knight and University of Arizona Wildcats!), DJing (House music FTW!) or
                playing
                video games. I am also really big fan professional wrestling! Catch me at local indy shows in town or at
                the bigger ones when they come to Arizona!
            </p>
            <p class="text-white">This is the space where
                you will find all my work! Thank you for visiting my page!</p>
            <br>
            <h5 class='text-white'><u>Current Coding Tunes</u></h5>
            <iframe src="https://open.spotify.com/embed/user/123508978/playlist/0mZcFUoX6u07Cvp6wo6Gcy"
                class='align-middle' width="100%" height="100%" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
        </div>
    </div>
</div>